ut-thesis.aux
ut-thesis.log
ut-thesis.out
ut-thesis.pdf
ut-thesis.toc
appendix/appendix.log
ch1/ch1.log
ch2/ch2.log
ch3/ch3.log
ch4/ch4.log
ch5/ch5.log
ch6/ch6.log
ch7/ch7.log
ch7/figures/IMG_4525.MOV
ch7/figures/IMG_5453.MOV
output/ut-thesis.aux
output/ut-thesis.log
output/ut-thesis.out
output/ut-thesis.pdf
output/ut-thesis.toc
reference/ch5.log
reference/ref.log
ut-thesis-mpgraph.mp
ut-thesis.bbl
ut-thesis.blg
ut-thesis.tmp
ut-thesis.tui
/.project
